<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: base(~{::main})}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet">
        
    </head>
    <body>
        <main class="d-flex justify-content-center align-items-center" style="height: 80%">
            
            <div class="card shadow border-0" style="width: 35rem; border-radius: 40px;">
                <div class="card-header bg-info text-white text-center" style="border-radius: 40px 40px 0 0;">
                    <h2 class="mb-0">LOGIN</h2>
                </div>
                
            </div>
            
            
        </main>
    </body>
</html>
