<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: base(~{::main})}">
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <main class="w-100" style="min-height: 80vh;">
            
            <div class="card shadow border-0 w-100" 
                 style="max-width: 650px; border-radius: 40px; overflow: hidden; 
                 position: fixed; top: 45%; left: 50%; transform: translate(-50%, -50%); z-index: 1000;">
                <!-- centralizacao horizontal ignorando a navbar -->
                
                <!-- HEADER -->
                <div class="card-header text-white justify-content-center py-3" style="background-color: #0e7490;">
                    <h2 class="mb-0">CRIAR CONTA</h2>                           <!-- cores: #0e7490 e #334155 -->
                </div>
                <div class="card-body p-4">

                    <!------------------- Mensagem de erro ------------------->
                    <div th:if="${erro}" class="alert alert-danger" role="alert">
                       <span th:text="${erro}"></span>
                    </div>

                    <!------------------------- CARD ------------------------->

                    <!-- form-control: ajuste automatico de campo input do bootstrap (tamanho, formato e texto) -->
                    <!-- form-label: ajuste automatico de campo label do bootstrap para o texto -->
                    <form th:action="@{/register}" th:object="${user}" method="POST">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Nome:</label>
                                    <input type="text" th:field="*{nome}" class="form-control" required>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">CPF:</label>
                                    <input type="text" th:field="*{cpf}" class="form-control" maxlength="14" required>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Data de Nascimento:</label>
                                    <input type="date" th:field="*{dataNascimento}" class="form-control" required>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Telefone:</label>
                                    <input type="text" th:field="*{telefone}" class="form-control" maxlength="15" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Endereço:</label>
                                    <input type="text" th:field="*{endereco}" class="form-control" required>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">E-mail:</label>
                                    <input type="email" th:field="*{email}" class="form-control" required>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Senha:</label>
                                    <input type="password" 
                                           th:field="*{senha}" 
                                           class="form-control" 
                                           minlength="8" 
                                           required 
                                           oninvalid="this.setCustomValidity('A senha deve conter no mínimo 8 caracteres.')"
                                           oninput="this.setCustomValidity('')">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Confirmar Senha:</label>
                                    <input type="password" name="confirmSenha" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-outline-primary btn-lg px-5 rounded-pill shadow-sm">Cadastrar</button>
                            <div class="text-center mt-3">
                                <a th:href="@{/login}" class="text-decoration-none">Já tenho uma conta</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
